extends layout

block content
    section.content
        .mz
            .flex-row
                .flex-item
                    .card
                        .card-content
                            .card-title.title Random
                            | We use random.org to sample truly random numbers
                
                .flex-item
                    .card
                        .card-content
                            .card-title.title Effortless
                            | You can set up complex randomizations within minutes
                
                .flex-item
                    .card
                        .card-content
                            .card-title.title Open Source
                            | All the code is available. Feel free to have a look.
                
                .flex-item
                    .card
                        .card-content
                            .card-title.title Secure 
                            | Secure by design, we do not store personal details, nor do we track your respondents.
                
                .flex-item
                    .card
                        .card-content
                            .card-title.title Deliberate
                            | Be certain that you meet your randomization goals with stratified and balanced randomization
                
                .flex-item
                    .card
                        .card-content
                            .card-title.title Give it a try
